<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    .container {
      background-color: black;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
      gap: 10px;
      place-items: center;
    }

    .card {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card>img {
      max-height: 150px;
      max-width: 150px;
    }

    .card li {
      list-style: none;
      color: #fff;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <h1>Art Gallery</h1>
  <%if(locals.data){%>
  <div class="container">
    <% data.records.forEach((image)=>{%>
    <div class="card"><img src="<%=image.baseimageurl%>" alt="Image">
      <li><%=image.copyright%></li>
    </div>
    <%})%>
  </div>
  <%}%>
</body>

</html>